{% extends "base.html" %}
{% load static %}
{% block body %}
    <section class="page-section">
        <div class="container">
            <div class="col-md-6">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ task }}</h5>
                        <p class="card-text">{{ task.Description }}</p>
                        <a href="#" class="btn btn-sm btn-primary disabled">{{ task.Status }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}