{% extends "base.html" %}
{% load static %}
{% block body %}
    <script>
        function drag(ev) {
            ev.dataTransfer.setData("id", ev.target.id);
        }

        function split(str) {
            var array = str.split("-");
            if (array[0] == 'card') {
                // this is the card so get the second one
                return array[1];
            } else {
                // we are dealing with boards
                if (array[0] == 'To') {
                    return 'To-Do';
                }
                return array[0];
            }
        }

        // on load add event listener
        window.allowDrop = function (ev) {
            ev.preventDefault();
            if (ev.target.classList.contains("board-body")) {
                ev.dataTransfer.dropEffect = "all"; // drop it like it's hot
            } else {
                ev.dataTransfer.dropEffect = "none"; // dropping is not allowed
                return false;
            }
        };
        window.drag = function (ev) {
            ev.dataTransfer.setData("id", ev.target.id);
        };

        window.drop = function (ev) {
            ev.preventDefault();
            var id = ev.dataTransfer.getData("id");

            var dragged = document.getElementById(id);
            ev.target.appendChild(dragged);
            console.log(id + ' dropped to ' + ev.target.id);

            // when drop change status
            var card_id = split(id);
            var board_id = split(ev.target.id);

            $.ajax({
                url: '{% url 'task:task-update' %}',
                type: "POST",
                data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        card_id: card_id,
                        status: board_id
                },
                //dataType: "json",
                success: function (data) {
                    console.log('success');
                    console.log(data);
                    $('#card-'+data['id'] +' .status').html( data['status']);
                },
                error: function (xhr,errmsg,err) {
                    console.log('error?' + err);
                    console.log(errmsg);
                    //console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        };
    </script>
    {% csrf_token %}
    <section class="page-section board-panel">
        <div class="container">
            <div class="horizontalScroll">
                <div class="board">
                    <div class="board-header">
                        To-Do
                    </div>
                    <div class="board-body" id="To-Do-board" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
                <div class="board">
                    <div class="board-header">
                        Doing
                    </div>
                    <div class="board-body" id="Doing-board" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
                <div class="board">
                    <div class="board-header">
                        Completed
                    </div>
                    <div class="board-body" id="Completed-board" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
                <div class="board">
                    <div class="board-header">
                        QA
                    </div>
                    <div class="board-body" id="QA-board" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
                <div class="board">
                    <div class="board-header">
                        Closed
                    </div>
                    <div class="board-body" id="Closed-board" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
            </div>
            <div class="new-board">
                <div class="board-header">
                    BackLog
                </div>
                <div class="board-body" id="New-board" ondrop="drop(event)" ondragover="allowDrop(event)">

                </div>
            </div>
        </div>
    </section>
    {% block task_list %}

    {% endblock %}

    {% block script %}

    {% endblock %}
{% endblock %}