{% extends "task/index.html" %}
{% load static %}
{% block task_list %}
    <div class="row">
        {% for task in allTasks %}
            <div class="card w-50" id="card-{{ task.pk }}" draggable="true" ondragstart="drag(event)">
                <div class="card-body">
                    <h5 class="card-title">{{ task }}</h5>
                    <p class="card-text">{{ task.Description }}</p>
                    <a href="#" class="btn btn-sm btn-primary disabled">{{ task.Status }}</a>
                    <a href="{% url 'task:task-delete' task.pk %} " class="btn btn-sm btn-danger float-right"><i
                            class="fas fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% block confirm_delete %}

    {% endblock %}
{% endblock %}


{% block script %}
    <script>
        // load the cards into correct column
        $(function () {
            function load_status() {
                {% for task in allTasks %}
                    var node = document.getElementById("card-{{ task.pk }}");
                    document.getElementById("{{ task.Status }}-board").appendChild(node);
                {% endfor %}
            }
            load_status();
        });
    </script>
{% endblock %}
